body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  visibility: hidden;
  opacity: 0;
}
#app {
  margin-top: 20px;
}
#app > div {
  margin: 0 auto;
}
#customize {
  margin-bottom: 80px;
  margin-top: 10px;
}
#customize-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#customize-card .section-wrap {
  box-sizing: border-box;
  background-color: #fff;
  padding: 40px 60px 15px 55px;
  box-shadow: 0 3px 40px 0 rgba(0,0,0,0.4);
}
#customize-card .section-wrap .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
#customize-card .section-wrap .section-hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#customize-card .section-title {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
  color: #666;
}
#customize-card .section-title:not(:first-child) {
  margin-top: 10px;
}
#customize-card .label {
  font-size: 14px;
  color: #888;
  width: 60px;
  text-align: right;
  margin-right: 10px;
}
#customize-card .picker-wrap {
  position: relative;
}
#customize-card .picker-wrap .picker {
  position: absolute;
  left: 15px;
  top: -5px;
}
#customize-card .color {
  margin-top: -5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#customize-card .color:hover {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}
#customize-card .color.active {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#customize-card .number {
  display: block;
  -webkit-appearance: none;
  border-radius: 5px;
  border: 2px solid #fff;
  box-sizing: border-box;
  height: 34px;
  padding: 0 7px;
  color: #555;
  background-color: rgba(0,0,0,0.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  outline: 0;
  margin-top: -7px;
  width: 60px;
}
#customize-card .number:hover {
  border: 2px solid #ea3829;
}
#customize-card .number:focus {
  border: 2px solid #ea3829;
  background-color: #fff;
}
#customize-card .slider {
  display: block;
  -webkit-appearance: none;
  background-color: rgba(0,0,0,0.1);
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
  margin-left: 10px;
  margin-top: 8px;
  width: 100px;
}
#customize-card .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ea3829;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: -1px;
}
#customize-card .slider::-webkit-slider-thumb:hover {
  background-color: #fff;
  border: 2px solid #ea3829;
}
#customize-card .slider::-webkit-slider-thumb:active {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
#debug {
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 12px;
  color: #ccc;
  width: 80px;
  float: right;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#debug:hover {
  background-color: rgba(0,0,0,0.03);
}
#debug:active {
  opacity: 0.7;
}
#twitter {
  margin: 10px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#twitter .button {
  display: block;
  cursor: pointer;
  background-image: url("assets/twitter.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#twitter .button:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#twitter .button:active {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#twitter .tips {
  background-color: #555;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
  position: absolute;
  left: calc(50% + 25px);
  top: -5px;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  padding: 5px 12px 4px;
  font-weight: 900;
  border-radius: 2px;
  -webkit-animation-name: pop;
          animation-name: pop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
#twitter .tips::before {
  content: '';
  position: absolute;
  z-index: 2;
  left: -3px;
  top: 11px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 7px;
  width: 7px;
  background-color: #555;
}
.fade-enter-active,
.fade-leave {
  opacity: 1;
  -webkit-transition: 1s opacity ease-in-out;
  transition: 1s opacity ease-in-out;
}
.fade-leave-active,
.fade-enter {
  opacity: 0;
  -webkit-transition: 1s opacity ease-in-out;
  transition: 1s opacity ease-in-out;
}
#footer {
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: 900;
}
#footer a {
  color: #777;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
@-webkit-keyframes pop {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    left: calc(50% + 25px);
  }
  50% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    left: calc(50% + 25px + 10px);
  }
  to {
    left: calc(50% + 25px);
  }
}
@keyframes pop {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    left: calc(50% + 25px);
  }
  50% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    left: calc(50% + 25px + 10px);
  }
  to {
    left: calc(50% + 25px);
  }
}
/*# sourceMappingURL=index.css.map */